data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
weights/*
!weights/.gitkeep
outputs/*
!outputs/.gitkeep
notebooks/.ipynb_checkpoints/
__pycache__/
*.pyc
*.onnx
*.tflite
*.mlpackage
*.pt
*.pth
*.ckpt
!.gitkeep
.venv/
